/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */

body {
  background-color: #666;
}
.scoreboard {
  color: white;
  border: 2px solid white;
  width: 15%;
}
svg {
  background-color: black;
}
